
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


html {
    font-family: "Roboto Flex", sans-serif;
    background-color: #8b0000;

}
body {
    padding: 20px 25px;
}

h1, h2 {
    color: #ff4500;
    text-align: center;
}

a {
    color: #ff4500;
}
 a:hover, a:focus{
    color: #b5604f;
    background-color: rgba(255, 255, 255, 0.2);
 
    border-radius: 10px;
 }

 p {
    color: #f5f5f5;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom:  1rem;
 }

 .header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #600000;
    border-radius: 20px;
 }

 .header-nav h1{
    margin: 0;
    color: #FFF;
 }
 
 .header-nav nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
 }

 .header-nav nav a {
    text-decoration: none;
    color: #ff4500;
    font-weight: bold;
    padding: 10px;
 }

 .header-nav nav a:hover {
    color: #b5604f
 }

 .perfil-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
 }

 .perfil-container section {
    flex: 1;

 }
 
 .perfil-container img {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
 
 }

 .proyectos-container{
    border: solid whitesmoke;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
 }

.proyectos-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.proyectos-container ul li{
    display: inline-flex;
    padding: 10px;
}

#pie-de-pagina {
    text-align: center;
    transition: text-shadow 0.3s ease-in-out;
}


#pie-de-pagina:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
 
roboto-flex-400 {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

